body {
  background-color: #F9F7F7;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #3F72AF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #3F72AF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

h3 {
  color: #3F72AF;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

p {
  color: #40514E;
}

a {
  color: #3F72AF;
  padding: 0 20px 0 20px;
}

.top-container {
  background-color: #DBE2EF;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-color: #DBE2EF;
  height: 150px;
  line-height: 2;
  padding-top: 50px;
}

.skills {
  margin-top: 50px;
}

.contact-me {
  line-height: 2;
  margin: 70px auto 70px auto;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 100px;
}

.bottom-cloud {
  left: 450px;
  position: absolute;
  top: 450px;
}

.codinggif {
  border-radius: 15px;
  float: left;
  margin-right: 30px;
  width: 20%;
}

.goalimg {
  border-radius: 25px;
  float: right;
  margin-left: 30px;
  width: 20%;
}

.profileimg {
  width: 20%;
}

.selfintroduce {
  line-height: 2;
  margin: 0 auto 0 auto;
  width: 450px;
}

.skill-row {
  margin: 70px auto 150px auto;
  text-align: left;
  width: 50%;
}

.skill-desc-1 {
  /* clear: left; */
  line-height: 2;
}

.skill-desc-2 {
  /* clear: right; */
  line-height: 2;
}

hr {
  border-color: #DBE2EF;
  border-style: dotted none none none;
  border-width: 8px;
  clear: both;
  width: 5%;
}

.profile {
  margin: 70px auto 70px auto;
  width: 50%;
}

.agree {
  margin-bottom: 50px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
